.addresses * {
    box-sizing: border-box;
}

.addresses-item {
    margin-bottom: 3rem;
}

.addresses-item:last-of-type {
    margin-bottom: 0;
}

.addresses-item p {
    margin-bottom: 1em;
}

.addresses-item:last-child {
    margin-bottom: 0;
}

.addresses-item figure {
    display: block;
    margin: 0;
    padding: 0;
}

.addresses-item-img {
    width: 100%;
    height: auto;
    margin-bottom: 1em
}

.addressses-personnel-present .addresses-item-text {
    display: flex;
    width: 100%;
    gap: 3rem;
}

.addressses-personnel-present .addresses-item-address {
    min-width: 18rem;
}

p.addresses-item-title {
    font-weight: bold;
}

.addresses-item svg {
    max-height: 0.8em;
    max-width: 0.94em;
    width: auto;
    height: auto;
}

.addresses-item svg path {
    fill: black;
}

.addresses-item-link svg {
    margin-right: 1em;
}

.addresses-item-social a {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5em;
    margin-right: 0.2em;
    border: 1px solid #000;
    line-height: 1em;
}

/* for t3brightside/personnel records */

.addresses-item-personnel-person {
    float: left;
    margin-bottom: 1rem;
    width: 100%;
}

.addresses-item-personnel-person:last-child {
    margin-bottom: 0;
}

.addresses-item-personnel img {
    float: left;
    margin-right: 1rem;
}

.addresses-personnel a {
    display: inline-block;
}

@media screen and (max-width: 720px) {
    .addresses-item-text {
        flex-wrap: wrap;
    }
}
