<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:ea="http://typo3.org/ns/Brightside/Embedassets/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="!{settings.cssForceTs}">
        <ea:asset.css embed="1" priority="{settings.cssPriority}" identifier="addresses" href="{settings.cssFile}" />
    </f:if>
	<f:variable name="cardImageWidth_x2">{settings.cardImageWidth * 2}</f:variable>
	<f:variable name="cardImageHeight_x2">{settings.cardImageHeight * 2}</f:variable>
	<f:variable name="listImageWidth_x2">{settings.listImageWidth * 2}</f:variable>
	<f:variable name="listImageHeight_x2">{settings.listImageHeight * 2}</f:variable>
	<f:variable name="tableImageWidth_x2">{settings.tableImageWidth * 2}</f:variable>
	<f:variable name="tableImageHeight_x2">{settings.tableImageHeight * 2}</f:variable>
	<f:if condition="{data.tx_addresses_template} == 0">
		<div class="addresses template-{data.tx_addresses_template}">
            <f:for each="{addresses}" as="address" iteration="iterator">
                <f:render partial="Address" arguments="{_all}" />
            </f:for>
            <f:if condition="{pagination.numberOfPages} > 1">
                <f:render partial="Pagination" arguments="{pagination:pagination}" />
            </f:if>
        </div>
	</f:if>
</html>
